:root{
    --cor-primaria-success : rgb(75, 200, 138);
    --cor-hover-success: rgb(116, 158, 137);
    --cor-secundaria-success : rgb(27, 66, 50);

    --cor-primaria-info : rgb(61, 157, 246);
    --cor-hover-info: rgb(116, 134, 158);
    --cor-secundaria-info : rgb(31, 62, 88);

    --cor-primaria-danger : rgb(200, 75, 75);
    --cor-hover-danger: rgb(158, 116, 116);
    --cor-secundaria-danger : rgb(58, 22, 22);
}

.btn {
    display: inline-block;
    border: none;
    padding: 10px;
    text-decoration: none;
    transition: background .3s; 
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px, 2px 0 1px #930;
}

.btn:active {
   box-shadow: 0 0 0 0 #930, inset 3px, 3px, 3px #930; 
   transform: translate(3px, 3px);
}

/*SUCCESS*/
.btn-success{
    background-color: var(--cor-primaria-success);
    outline: none;
    color: var(--cor-secundaria-success);
}

.btn-success:hover{
    background-color: var(--cor-hover-success);
}

.btn-success:active{
    color:var(--cor-primaria-success);
    background-color: var(--cor-secundaria-success);
}

/*INFO*/
.btn-info{
    background-color: var(--cor-primaria-info);
    outline: none;
    color: var(--cor-secundaria-info);
}

.btn-info:hover{
    background-color: var(--cor-hover-info);
}

.btn-info:active{
    color:var(--cor-primaria-info);
    background-color: var(--cor-secundaria-info);
}

/*DANGER*/
.btn-danger{
    background-color: var(--cor-primaria-danger);
    outline: none;
    color: var(--cor-secundaria-danger);
    color: #FFF2E7;
}

.btn-danger:hover{
    background-color: var(--cor-hover-danger);
    color: #FFF2E7;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.btn-danger:active{
    color:var(--cor-primaria-danger);
    background-color: var(--cor-secundaria-danger);
    color: #FFF2E7;
}

img {
    width: 300px;
}
  
.container {
    display: flex;
    align-items: center;
    color: #FFF2E7;
}


.tabela, th, td {
    font-size: 35px;
    text-align: normal;
    border: 1px solid rgb(207, 188, 214);
    border-collapse: collapse; 
    list-style: none;   
    color: #FFF2E7;   
}


header {
    color: #FFF2E7;
}

h1 {
    color: #FFF2E7;
}

/* NOVO ESTILO*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin:  0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1E1E2A;
}

/* Header */

.header-container {
    height: 100vh;
    width: 100vw;
    background-color: #68E1E0;
    background-image: url('../img/Saved Pictures/lucimar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1 {
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #1E1E2A;
    padding: 1rem 4rem;
    border: 1px solid #1E1E2A;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: #ffffff; 
}

/* Menu Hamburguer */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;right: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #1E1E2A;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #1E1E2A;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}


/* ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
     opacity: 0;
} 

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: #ffffff;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #ffffff;
    z-index: 1;
}

#toggle:checked ~ .menu-itens {
    visibility: visible;
    opacity: 1;
}

/* CARDS */

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
}

.card-text { 
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper {
    text-align: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-text  p {
   font-size: 0;
   visibility: visible;
   opacity: 0;
   font-weight: bold;
   text-transform: uppercase;
   transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 100px;
    background-color: #68E1E0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E1E2A;
}


